spring:
  application:
    name: notify-kit-example

  datasource:
    url: jdbc:h2:mem:notifydb;DB_CLOSE_DELAY=-1
    driver-class-name: org.h2.Driver
    username: sa
    password:

  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  h2:
    console:
      enabled: true
      path: /h2-console

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui

debug : true

notify:
  outbox:
    enabled: true
    sender: sse

    batch-size: 200
    retry-limit: 5
    retry-delay: 3s

    scheduler:
      enabled: true
      fixed-delay: 5s
